body {
  margin: 0;
  background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
 background: url('img/poster.jpg') no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
    opacity: .3;
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(img/poster.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

.parent{
  margin-top: 4%;
  background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(10, 10, 10, 10.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  
}

.parent img{
  width: 150px;
  height: 150px;
  margin-top: 40px;
}

.parent h1{
  color : white;
  font-family: Monotype Corsiva;
}

.login2-input{
  display: inline-block;
  width: 22rem;
  height: 100%;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  background: transparent;

  
  border-left: 3px solid gray;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid gray;
  color: white;
}

.input2{
  background: transparent;
  border-bottom: none; 
  border-top: 3px solid gray;
  border-left: 3px solid gray;
}

.h3-login{
  font-family: Century Gothic;
  color: white;
  font-weight: lighter;
  font-size: 47px;
  margin-top: 30%;
}